body {
  /* create nice image in blender! */
  background-image: url('figures/brain_cloud.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  font-family: courier;
  color: white;
}

h1 {
  font-size: 200%;
}
/*
p {
  font-size: 100%;
}
pre {
  color: gray;
  font-size: 120%;
  border: 2px solid gray;
  padding: 30px;
  margin: 30px;
}
*/
